!!!
%html{:lang => "en"}

  %head
    = Haml::Engine.new(File.read('haml-partials/_head.haml')).render

  %body
    %header
      %nav
        = Haml::Engine.new(File.read('haml-partials/_nav.haml')).render

    .hero
      %h1.hero__header
        .container
          CV Wouter Muller

    .container
      .vertical-spacing
        :markdown

          ##  ABOUT ME

          I am a very experienced (10+ years) Senior/Lead Front-end Developer that learned a lot in Berlin, the tech/startup capital of Europe. Currently I am based in Groningen, the Netherlands.

          - I have a strong focus and a clear vision on topics like front-end architecture, clean/readable/maintainable code and following conventions and best practices
          - I enjoy taking and/or being involved in long-term strategic decisions and always try to have the "bird's eye" view
          - I am a big fan of VueJS and think it embodies the best features of React while remaining simple and intuitive to use
          - I have worked with Angular, React and VueJS and feel like chosing which framework/library to use is an important decision that should not be taken lightly, depending on the type and complexity of the web application you are trying to build.
          - I don't just focus on getting things done, but it is very important to me to get things done the right way
          - I strongly value principles like DRY, KISS, separation of concerns and progressive enhancement
          - I have advanced knowledge of [Git](https://en.wikipedia.org/wiki/Git)
          - It is important to me to keep up with evolving web standards, conventions and best practices
          - I am excited about CSS Grid and custom properties
          - I value code review processes like pull requests and see it as an excellent way to learn from each other and keep the quality of the code base high
          - I am very passionate about creating great user experiences that look amazing and are easy to use

        %h2 SKILLS

        .with-margin
          .cloud
            %span.cloud__tag{ style: "font-size: 30px" } HTML/HAML
            %span.cloud__tag{ style: "font-size: 32px" } CSS/SASS
            %span.cloud__tag{ style: "font-size: 34px" } CSS Architecture
          .cloud
            %span.cloud__tag{ style: "font-size: 32px" } OOCSS
            %span.cloud__tag{ style: "font-size: 32px" } BEM
            %span.cloud__tag{ style: "font-size: 28px" } CSS Modules
            %span.cloud__tag{ style: "font-size: 24px" } PostCSS
          .cloud
            %span.cloud__tag{ style: "font-size: 32px" } Javascript
            %span.cloud__tag{ style: "font-size: 24px" } jQuery
            %span.cloud__tag{ style: "font-size: 22px" } AngularJS
            %span.cloud__tag{ style: "font-size: 30px" } React
            %span.cloud__tag{ style: "font-size: 32px" } VueJS
          .cloud
            %span.cloud__tag{ style: "font-size: 32px" } Git
            %span.cloud__tag{ style: "font-size: 28px" } Ruby on Rails
            %span.cloud__tag{ style: "font-size: 24px" } ASP.NET
            %span.cloud__tag{ style: "font-size: 22px" } (My)SQL
            %span.cloud__tag{ style: "font-size: 24px" } Scrum/Agile
            %span.cloud__tag{ style: "font-size: 24px" } Responsive Design/Mobile-first
            %span.cloud__tag{ style: "font-size: 24px" } Cross-Browser compatibility
          .cloud
            %span.cloud__tag{ style: "font-size: 22px" } UX/Usability
            %span.cloud__tag{ style: "font-size: 22px" } Web design/Photoshop/Sketch

        %h2 WORK EXPERIENCE

        %table
          %tbody
            %tr
              %td.nowrap 05/2018 - current
              %td
                %h3 Lead Front-end Developer at FrankNL
                %p At FrankNL i am responsible for:
                %ul
                  %li Having full responsibility and ownership over the entire front-end stack
                  %li Building a brand new front-end foundation/framework (CSS and JS) that is tailor-made for Frank's web application

            %tr
              %td.nowrap 04/2017 - 04/2018
              %td
                %h3 Senior Front-end Developer at Bencom Group
                %p At Bencom Group I was responsible for:
                %ul
                  %li Rebuilding legacy applications to become more future-proof (utilizing ASP.NET MVC Core and VueJS)
                  %li Building a component-based front-end (JS/CSS) framework linked to a style guide
                  %li Responsible for introducing new development workflows/technologies (Git and pull requests/code review amongst others)
                  %li Adding new features as well as maintaining existing features to various web applications, like Gaslicht.com, Bellen.com, Poliswijzer.nl, Internetten.nl

            %tr
              %td.nowrap 02/2016 - 04/2017
              %td
                %h3 Tech Lead/Senior Front-end Developer at Catawiki
                %p At Catawiki I was responsible for:
                %ul
                  %li Building a component-based front-end framework
                  %li Rebuilding parts of the legacy application with ReactJS
                  %li Implementing various A/B experiments to test new features
                  %li Being highly involved in recruitment of new team members

            %tr
              %td.nowrap 06/2012 - 01/2016
              %td
                %h3 Lead Front-end Developer at Blacklane GmbH
                %p As Lead Front-end Developer at Blacklane, the fastest growing tech company in Germany, I have been responsible for leading a team of six front-end developers, while still getting a lot of coding done myself. This included managing resources and workflows, providing mentorship to other developers, and being highly involved in recruiting and interviewing potential new team members. I have been involved in giving presentations to showcase new products or features to the entire company (+/- 200 people).

            %tr
              %td.nowrap 01/2011 - 06/2012
              %td
                %h3 Front-end Developer at silver.solutions GmbH
                %p silver.solutions is a Berlin-based IT company specialized in E-commerce projects. I worked on different projects for various customers (SPD, Garmin and many more).

            %tr
              %td.nowrap 01/2006 - 01/2011
              %td
                %h3 Full-stack freelance web developer

                %p I worked as a freelance full-stack web developer (front-end & back-end) on many different projects for different international clients. On some of the projects I took care of design as well, but I have also worked closely together with various graphical designers. One of my main achievements was coupling client’s websites with a custom-made CMS that i built from scratch.



        %h2 EDUCATION

        %table
          %tbody
            %tr
              %td.nowrap 2002 - 2007
              %td
                %h3 Bachelor Communication and Multimedia Design
                %p Noordelijke Hogeschool, Leeuwarden, the Netherlands
            %tr
              %td.nowrap 2000 - 2002
              %td
                %h3 Bachelor Songwriting & Studio production
                %p Noord-Nederlands Conservatorium, Groningen, the Netherlands
            %tr
              %td.nowrap 1999 - 2000
              %td
                %h3 VWO
                %p Noorderpoort College, Groningen, the Netherlands
            %tr
              %td.nowrap 1994 - 1999
              %td
                %h3 HAVO
                %p Wessel Gansfoort College, Groningen, the Netherlands

        %h2 LANGUAGES

        %ul
          %li Dutch (mother tongue)
          %li English (fluent spoken and written)
          %li German (fluent spoken and written)

    = Haml::Engine.new(File.read('haml-partials/_end-of-body.haml')).render
