!!!
%html{:lang => "en"}

  %head
    = Haml::Engine.new(File.read('haml-partials/_head.haml')).render

  %body
    %header
      %nav
        = Haml::Engine.new(File.read('haml-partials/_nav.haml')).render

    .hero
      %h1.hero__header
        .container
          Hello, I am...
          %span Wouter Muller
          Freelance Web/Front-end Developer

    .container
      .coming-soon
        %h2.with-margin
          I developed a new website for Inter Music Therapy,
          %a{ href: "https://intermusictherapy.nl", target: "_blank"} https://intermusictherapy.nl
        %h2.with-margin
          Brand new "Uitvaartfotograafgroningen.nl" website went live!
          %a{ href: "https://uitvaartfotograafgroningen.nl", target: "_blank" } https://uitvaartfotograafgroningen.nl

        %h2.with-margin
          On-going projects:
          %a{ href: "https://meerstad.net", target: "_blank" } https://meerstad.net

        %h2.with-margin
          Latest blog entry:
          %a{ href: "why-i-prefer-the-sass-indented-syntax-over-the-scss-syntax" } Why i prefer the SASS indented syntax over the SCSS syntax

        %h2
          %a{ href: "cv" } Take a look at my CV

    = Haml::Engine.new(File.read('haml-partials/_end-of-body.haml')).render
