!!!
%html{:lang => "en"}

  %head
    = Haml::Engine.new(File.read('haml-partials/_head.haml')).render

  %body
    %header
      %nav
        = Haml::Engine.new(File.read('haml-partials/_nav.haml')).render

    .hero
      %h1.hero__header
        .container
          Hello, I am...
          %span Wouter Muller
          Senior Front-End Developer
          %br
          and CSS Architect

    .container
      %h2.coming-soon
        Latest blog entry:
        %a{ href: "blog/why-i-prefer-the-sass-indented-syntax-over-the-scss-syntax" } Why i prefer the SASS indented syntax over the SCSS syntax
