html {
  font-size: 16px;
}

body {
  font-family: $font-stack;
  line-height: 1.6;
  color: #333;
}

ul,
p {
  margin-bottom: 30px;
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin-bottom: 15px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

img {
  width: 100%;
}

ul {
  padding-left: 32px;
}

code {
  background-color: #f7f7f7;
  display: block;
  padding: .625rem;
  margin-bottom: 20px;
}

a {
  color: #08f;
}
