.hero {
  background-image: url(../images/1.jpg);
  //background-color: blue;
  background-size: cover;
  background-position: center top;
}

.hero__header {
  text-align: center;
  padding: 140px 0 140px 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 1.4;

  span {
    display: block;
    font-size: 60px;
    margin-bottom: 25px;
    color: #0088ff;
  }
}

.coming-soon {
  text-align: center;
  padding: 80px 0;
}
