.container
  %a{ href: "/"}
    %span.home-icon
      %svg#Layer_1{:space => "preserve", :style => "enable-background:new 0 0 512 512;", :version => "1.1", :viewbox => "0 0 512 512", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
        %g
          %polygon{:points => "448,288 256,64 64,288 112,288 112,448 208,448 208,320 304,320 304,448 400,448 400,288  "}
